
<h1>Dice Roll</h1>


<Form action="/process_roll">
  <label for="dice_number">Number of dice to roll?</label>
  <input id = "dice_number" type="text" name="dice">


  <label for="side_number">How many sides per die?</label>
  <input id = "side_number" type="text" name="sides">

  <button>Roll!</button>
</Form>
